ion-title.title-large {
    --color: #1d2ae4;
  }
ion-card.ion-margin{
    margin: 40px;
}
ion-button.size-large{
    border-radius: 12px;
    font-size: 12px;
}
ion-content.background{
    ion-content.background{
        --background: url(./assets/imgs/splash.jpg) 0 0/100% 100% no-repeat;
    }
}
ion-progress-bar::part(track) {
    background: #f3e895;
  }
  
  ion-progress-bar::part(progress) {
    background: #09c567;
  }
  
  ion-progress-bar::part(stream) {
    background-image: radial-gradient(ellipse at center, #e475f3 0%, #e475f3 30%, transparent 30%);
  }
  .calendar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Set the height to 100% of the viewport height or adjust as needed */
  }
  .footer{
    background-color: yellow !important;
    color: black;
    padding: 15px;
  }  
  /* Add additional styling for your calendar if necessary */
  
  